substitutions:
  name: ny1-p-espled-01
  friendly_name: NY1-P-ESPLED-01

esphome:
  name: ${name}
  friendly_name: ${friendly_name}
  min_version: 2024.6.0
  name_add_mac_suffix: false
  project:
    name: esphome.web
    version: '1.0'

esp32:
  board: esp32dev
  framework:
    type: arduino

# Enable logging
logger:

# Enable Home Assistant API
api:

# Allow Over-The-Air updates
ota:
- platform: esphome

# Allow provisioning Wi-Fi via serial
improv_serial:

wifi:
  # Set up a wifi access point
  ap: {}

# In combination with the `ap` this allows the user
# to provision wifi credentials to the device via WiFi AP.
captive_portal:

dashboard_import:
  package_import_url: github://esphome/example-configs/esphome-web/esp32.yaml@main
  import_full_config: true

# Sets up Bluetooth LE (Only on ESP32) to allow the user
# to provision wifi credentials to the device.
esp32_improv:
  authorizer: none

# To have a "next url" for improv serial
web_server:

light:
  - platform: neopixelbus
    type: RGB
    variant: WS2811
    method:
      type: esp32_rmt
      channel: 1
    pin: GPIO16
    num_leds: 25
    name: "NeoPixel Light"

# light:
#   - platform: fastled_clockless
#     chipset: SK6812
#     pin: GPIO16
#     num_leds: 25
#     rgb_order: BRG
#     name: "FastLED WS2811 Light"
